.header {
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  /*display flex*/
  padding: 10px;
}
.external-links-menu,
.internal-links-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  /*display flex*/
  gap: 15px;
}
.internal-links-menu {
}
.external-links-menu li a,
.internal-links-menu li a {
  color: white;
  text-transform: capitalize;
}
.external-links-menu li a {
  font-size: 1rem;
}
.internal-links-menu li a {
  font-size: 0.7rem;
}
